.kit-popover-content {
	inset: 0px auto auto 0px;
	margin: 0px;
	position: fixed;
	z-index: 9999;
	display: inline-block;
	width: auto;
	opacity: 1;
	transition-property: opacity, transform;
	background-color: var(--popover-background, var(--kit-surface));
	color: var(--popover-color, var(--kit-label));
	border-radius: var(--popover-shape, var(--system-shape-md));
}
