.kit-dropdown-content {
	inset: 0px auto auto 0px;
	margin: 0px;
	position: fixed;
	z-index: 9999;
	display: inline-block;
	width: auto;
	opacity: 1;
	transition-property: opacity, transform;
	background-color: var(--dropdown-background, var(--system-secondary-background));
	color: var(--dropdown-color, var(--system-label));
	border-radius: var(--dropdown-radius, var(--system-shape-md));
}
