.kit-appbar {
	--appbar-padding-wrapper: var(--system-spacing) * 4;

	display: flex;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--appbar-shape);
	color: var(--appbar-color, var(--kit-label));
	background-color: var(--appbar-background, var(--kit-container));
	border-color: var(--appbar-background, var(--kit-container));
}

/* wrapper */
.kit-appbar .kit-appbar--wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: calc(100% - (var(--appbar-padding-wrapper) * 2));
	width: calc(100% - (var(--appbar-padding-wrapper) * 2));
	margin: 0 auto;
}

/* density */
.kit-appbar[breakpoint]kit-appbar--density-default {
	height: 4rem;
	padding-inline: calc(var(--system-spacing) * 1.5);
}

.kit-appbar[breakpoint]kit-appbar--density-compact {
	height: 3.5rem;
	padding-inline: calc(var(--system-spacing) * 0.75);
}

.kit-appbar[breakpoint]kit-appbar--density-comfortable {
	height: 4.5rem;
	padding-inline: calc(var(--system-spacing) * 2.25);
}
