.kit-accordion-item {
	flex: 1 0 100%;
	max-width: 100%;
	position: relative;
	transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: margin-top, border-radius, border, max-width;
	border-radius: var(--accordion-shape, var(--system-shape-md));
	color: var(--accordion-color, var(--kit-label));
	background-color: var(--accordion-background, var(--kit-surface));
}

.kit-accordion-item > button,
.kit-accordion-item > [type='button'] {
	font: inherit;
	overflow: visible;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	color: inherit;
}

.kit-accordion-item .kit-accordion-item--title {
	align-items: center;
	text-align: start;
	border-radius: inherit;
	display: flex;
	font-size: 0.9375rem;
	min-height: 3rem;
	outline: none;
	padding: 1rem 1.5rem;
	position: relative;
	transition: 0.3s min-height margin-bottom margin-top border-radius cubic-bezier(0.4, 0, 0.2, 1);
	width: 100%;
	justify-content: space-between;
}

.kit-accordion-item .kit-accordion-item--text {
	display: flex;
}

.kit-accordion-item .kit-accordion-item--text .kit-accordion-item--text-wrapper {
	padding: 0.5rem 1.5rem 1rem;
	flex: 1 1 auto;
	max-width: 100%;
}

.kit-accordion-item .kit-accordion-item--icon {
	display: inline-flex;
	margin-bottom: -0.25rem;
	margin-top: -0.25rem;
	-webkit-user-select: none;
	user-select: none;
	margin-inline-start: auto;
}

/* disabled */
.kit-accordion-item .kit-accordion-item--title.kit-accordion-item--disabled,
.kit-accordion-item .kit-accordion-item--title[disabled],
.kit-accordion-item .kit-accordion-item--title:disabled {
	pointer-events: none;
	user-select: none;
}

.kit-accordion-item .kit-accordion-item--title.kit-accordion-item--disabled > *,
.kit-accordion-item .kit-accordion-item--title[disabled] > *,
.kit-accordion-item .kit-accordion-item--title:disabled > * {
	opacity: 0.6;
}
