/* root */
.kit-button {
	--button-color: var(--on, var(--kit-on-container));
	--button-background: var(--base, var(--kit-container));
	--button-radius: var(--shape, var(--kit-radius-md));
}

.kit-button {
	position: relative;
	cursor: pointer;
	border: none;
	outline: none;
	padding-top: var(--button-spacing-x);
	padding-bottom: var(--button-spacing-x);
	padding-right: var(--button-spacing-y);
	padding-left: var(--button-spacing-y);
	border-radius: var(--button-radius);
	color: var(--button-color);
	font-weight: 500;
}

.kit-button,
.kit-button .kit-button-content,
.kit-button .kit-button-append,
.kit-button .kit-button-prepend,
.kit-button .kit-button-loading {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	gap: calc(var(--kit-spacing) * var(--button-multiplier-gap));
	font-size: calc(var(--kit-spacing) * var(--button-multiplier-font-size));
}

.kit-button::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 150ms ease;
	pointer-events: none;
	border-radius: inherit;
}
.kit-button:hover::after {
	opacity: 0.08;
}
.kit-button:active::after {
	opacity: 0.12;
}
.kit-button:focus-visible::after {
	opacity: 0.12;
}

/* size */
.kit-button[breakpoint]kit-button--size-xs {
	--button-multiplier-x: 12;
	--button-multiplier-y: 2;
	--button-multiplier-gap: 2;
	--button-multiplier-font-size: 6;
}
.kit-button[breakpoint]kit-button--size-xs .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 7;
}

.kit-button[breakpoint]kit-button--size-sm {
	--button-multiplier-x: 16;
	--button-multiplier-y: 3;
	--button-multiplier-gap: 4;
	--button-multiplier-font-size: 7;
}
.kit-button[breakpoint]kit-button--size-sm .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 8;
}

.kit-button[breakpoint]kit-button--size-md {
	--button-multiplier-x: 20;
	--button-multiplier-y: 4;
	--button-multiplier-gap: 4;
	--button-multiplier-font-size: 8;
}
.kit-button[breakpoint]kit-button--size-md .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 9;
}

.kit-button[breakpoint]kit-button--size-lg {
	--button-multiplier-x: 24;
	--button-multiplier-y: 5;
	--button-multiplier-gap: 4;
	--button-multiplier-font-size: 9;
}
.kit-button[breakpoint]kit-button--size-lg .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 10;
}

.kit-button[breakpoint]kit-button--size-xl {
	--button-multiplier-x: 28;
	--button-multiplier-y: 6;
	--button-multiplier-gap: 5;
	--button-multiplier-font-size: 10;
}
.kit-button[breakpoint]kit-button--size-xl .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 11;
}

/* density */
.kit-button:not(.kit-button--icon)[breakpoint]kit-button--density-default {
	height: calc(var(--kit-spacing) * var(--button-multiplier-x));
	--button-spacing-x: 0;
	--button-spacing-y: calc(var(--kit-spacing) * var(--button-multiplier-y));
}
.kit-button.kit-button--icon[breakpoint]kit-button--density-default {
	height: calc(var(--kit-spacing) * var(--button-multiplier-x));
	width: calc(var(--kit-spacing) * var(--button-multiplier-x));
	--button-spacing-x: 0;
	--button-spacing-y: 0;
}

.kit-button:not(.kit-button--icon)[breakpoint]kit-button--density-compact {
	height: calc(var(--kit-spacing) * var(--button-multiplier-x) - 0.25rem);
	--button-spacing-x: 0;
	--button-spacing-y: calc(var(--kit-spacing) * var(--button-multiplier-y) - 0.25rem);
}
.kit-button.kit-button--icon[breakpoint]kit-button--density-compact {
	height: calc(var(--kit-spacing) * var(--button-multiplier-x) - 0.25rem);
	width: calc(var(--kit-spacing) * var(--button-multiplier-x) - 0.25rem);
	--button-spacing-x: 0;
	--button-spacing-y: 0;
}

.kit-button:not(.kit-button--icon)[breakpoint]kit-button--density-comfortable {
	height: calc(var(--kit-spacing) * var(--button-multiplier-x) + 0.25rem);
	--button-spacing-x: 0;
	--button-spacing-y: calc(var(--kit-spacing) * var(--button-multiplier-y) + 0.25rem);
}
.kit-button.kit-button--icon[breakpoint]kit-button--density-comfortable {
	height: calc(var(--kit-spacing) * var(--button-multiplier-x) + 0.25rem);
	width: calc(var(--kit-spacing) * var(--button-multiplier-x) + 0.25rem);
	--button-spacing-x: 0;
	--button-spacing-y: 0;
}

/* variant */
.kit-button[breakpoint]kit-button--variant-filled {
	background-color: var(--button-background);
}

.kit-button[breakpoint]kit-button--variant-outline {
	--button-color: var(--base, var(--kit-on-container));
	background-color: transparent;
}
.kit-button[breakpoint]kit-button--variant-outline::before {
	content: '';
	position: absolute;
	inset: 0;
	border: 1px solid currentColor;
	pointer-events: none;
	border-radius: inherit;
}

.kit-button[breakpoint]kit-button--variant-text {
	--button-color: var(--base, var(--kit-on-container));
	background-color: transparent;
	border: none;
}

/* state */
.kit-button.kit-button--info[class*='button--variant-filled'] {
	--on: var(--kit-on-info);
	--base: var(--kit-info);
}
.kit-button.kit-button--info[class*='button--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-info);
}
.kit-button.kit-button--success[class*='button--variant-filled'] {
	--on: var(--kit-on-success);
	--base: var(--kit-success);
}
.kit-button.kit-button--success[class*='button--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-success);
}
.kit-button.kit-button--warning[class*='button--variant-filled'] {
	--on: var(--kit-on-warning);
	--base: var(--kit-warning);
}
.kit-button.kit-button--warning[class*='button--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-warning);
}
.kit-button.kit-button--error[class*='button--variant-filled'] {
	--on: var(--kit-on-error);
	--base: var(--kit-error);
}
.kit-button.kit-button--error[class*='button--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-error);
}

/* events */
.kit-button[class*='button--variant-filled']:active,
.kit-button.kit-button--active[class*='button--variant-filled'] {
	background-color: color-mix(in oklab, var(--button-background) 90%, var(--kit-scrim));
}
.kit-button.kit-button--active[class*='button--variant-']:not([class*='variant-filled']):active,
.kit-button.kit-button--active[class*='button--variant-']:not([class*='variant-filled']) {
	background-color: color-mix(in oklab, currentColor 15%, transparent);
}

/* icon */
.kit-button i::before,
.kit-button .kit-icon {
	--base-parent: var(--button-color);
}

/* disabled */
.kit-button.kit-button--disabled,
.kit-button[disabled],
.kit-button.kit-button--loading {
	pointer-events: none;
	user-select: none;
	cursor: default;
}
.kit-button[class*='button--variant-filled'].kit-button--disabled {
	color: color-mix(in oklab, var(--button-color) 40%, transparent) !important;
	background-color: color-mix(in oklab, var(--button-background) 70%, transparent) !important;
}
.kit-button[class*='button--variant-filled'].kit-button--disabled i:before {
	color: color-mix(in oklab, var(--button-color) 40%, transparent) !important;
}
.kit-button[class*='button--variant-']:not([class*='variant-filled']).kit-button--disabled,
.kit-button[class*='button--variant-']:not([class*='variant-filled']).kit-button--disabled
	i::before {
	color: color-mix(in oklab, var(--button-background) 40%, transparent) !important;
}

/* loading */
.kit-button.kit-button--loading > .kit-button-content,
.kit-button.kit-button--loading > .kit-button-append,
.kit-button.kit-button--loading > .kit-button-prepend {
	visibility: hidden;
}
.kit-button.kit-button--loading > .kit-button-loading {
	position: absolute;
	min-width: fit-content;
}
.kit-button.kit-button--loading > .kit-button-loading .kit-icon-load {
	animation: icon-rotate 1s ease-out infinite;
}
