.kit-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: color-mix(in oklab, var(--l-theme-scrim) 70%, transparent);
	z-index: 9000;
	cursor: default;
}

.kit-overlay.kit-overlay--persistent {
	user-select: none;
	cursor: default;
}
