/* root */
.kit-modal {
	--modal-color: var(--on, var(--kit-on-surface));
	--modal-background: var(--base, var(--kit-surface));
	--modal-radius: var(--shape, var(--kit-radius-md));
	--modal-translate-x: -50%;
	--modal-translate-y: -50%;
}

.kit-modal {
	width: 100%;
	height: 100%;
	position: absolute;
}

.kit-modal-container {
	position: fixed;
	overflow-y: auto;
	z-index: 9100;
	width: 100%;
	height: 100%;
	padding-top: var(--modal-spacing-x);
	padding-bottom: var(--modal-spacing-x);
	padding-right: var(--modal-spacing-y);
	padding-left: var(--modal-spacing-y);

	/* theme */
	color: var(--modal-color);
	background-color: var(--modal-background);
	border-color: var(--modal-background);
}

.kit-modal.kit-modal--contain {
	position: absolute;
	top: 0;
}

.kit-modal.kit-modal--contain .kit-overlay {
	position: absolute;
}

.kit-modal.kit-modal--contain .kit-modal-container {
	position: absolute;
}

/* size */
.kit-modal [breakpoint]kit-modal-container--size-xs {
	max-width: var(--kit-modal-size-xs);
	max-height: calc(100% - 3rem);
	height: fit-content;
	margin: 0 auto;
	left: 50%;
	bottom: initial;
	translate: var(--modal-translate-x) var(--modal-translate-y);
	border-radius: var(--modal-radius);
}
.kit-modal [breakpoint]kit-modal-container--size-sm {
	max-width: var(--kit-modal-size-sm);
	max-height: calc(100% - 3rem);
	height: fit-content;
	margin: 0 auto;
	left: 50%;
	bottom: initial;
	translate: var(--modal-translate-x) var(--modal-translate-y);
	border-radius: var(--modal-radius);
}
.kit-modal [breakpoint]kit-modal-container--size-md {
	max-width: var(--kit-modal-size-md);
	max-height: calc(100% - 3rem);
	height: fit-content;
	margin: 0 auto;
	left: 50%;
	bottom: initial;
	translate: var(--modal-translate-x) var(--modal-translate-y);
	border-radius: var(--modal-radius);
}
.kit-modal [breakpoint]kit-modal-container--size-lg {
	max-width: var(--kit-modal-size-lg);
	max-height: calc(100% - 3rem);
	height: fit-content;
	margin: 0 auto;
	left: 50%;
	bottom: initial;
	translate: var(--modal-translate-x) var(--modal-translate-y);
	border-radius: var(--modal-radius);
}
.kit-modal [breakpoint]kit-modal-container--size-xl {
	max-width: var(--kit-modal-size-xl);
	max-height: calc(100% - 3rem);
	height: fit-content;
	margin: 0 auto;
	left: 50%;
	bottom: initial;
	translate: var(--modal-translate-x) var(--modal-translate-y);
	border-radius: var(--modal-radius);
}
.kit-modal [breakpoint]kit-modal-container--size-full {
	max-width: 100%;
	max-height: calc(100% - 3rem);
	margin: 0 auto;
	bottom: 0;
	translate: 0 0;
	left: 0;
	top: initial;
	height: 100%;
	border-radius: var(--modal-radius) var(--modal-radius) 0 0;
}

/* density */
.kit-modal [breakpoint]kit-modal-container--density-default {
	--modal-spacing-x: 0.5rem;
	--modal-spacing-y: 0.5rem;
}

.kit-modal [breakpoint]kit-modal-container--density-compact {
	--modal-spacing-x: 0.25rem;
	--modal-spacing-y: 0.25rem;
}

.kit-modal [breakpoint]kit-modal-container--density-comfortable {
	--modal-spacing-x: 0.75rem;
	--modal-spacing-y: 0.75rem;
}

/* position */
.kit-modal [breakpoint]kit-modal-container--position-bottom {
	--modal-translate-y: 0;
	margin: auto;
	top: initial;
	bottom: 0;
}

.kit-modal [breakpoint]kit-modal-container--position-top {
	--modal-translate-y: 0;
	margin: auto;
	top: 0;
	bottom: initial;
}

.kit-modal [breakpoint]kit-modal-container--position-center {
	--modal-translate-y: -50%;
	margin: auto;
	top: 50%;
	bottom: initial;
}
