/* root default*/
.kit-navbar {
	--navbar-color: var(--on, var(--kit-on-neutral));
	--navbar-background: var(--base, var(--kit-neutral));
	--navbar-radius: var(--shape, 0);
	--navbar-padding-wrapper: var(--kit-spacing) * 2;
}

.kit-navbar {
	display: flex;
	align-items: center;
	min-width: max-content;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--navbar-radius);
	color: var(--navbar-color);
	background-color: var(--navbar-background);
	border-color: var(--navbar-background);
	transition:
		color 0.5s,
		border-color 0.5s,
		background-color 0.5s;
}

/* wrapper */
.kit-navbar .kit-navbar--wrapper {
	display: grid;
	align-items: center;
}
.kit-navbar[breakpoint]kit-navbar--orientation-horizontal .kit-navbar--wrapper {
	grid-auto-flow: column;
	height: calc(100% - (var(--navbar-padding-wrapper) * 2));
	width: calc(100% - (var(--navbar-padding-wrapper) * 4));
	margin: 0 auto;
}
.kit-navbar[breakpoint]kit-navbar--orientation-vertical .kit-navbar--wrapper {
	grid-auto-flow: row;
	height: calc(100% - (var(--navbar-padding-wrapper) * 4));
	width: calc(100% - (var(--navbar-padding-wrapper) * 2));
	margin: auto;
}

/* density */
.kit-navbar[breakpoint]kit-navbar--density-default:not([class*='navbar--orientation-vertical']) {
	height: 2.5rem;
	padding-inline: calc(var(--kit-spacing) * 1.5);
}
.kit-navbar[breakpoint]kit-navbar--density-default[class*='navbar--orientation-vertical'] {
	width: 3.5rem;
	padding: calc(var(--kit-spacing) * 1.5);
}

.kit-navbar[breakpoint]kit-navbar--density-compact:not([class*='navbar--orientation-vertical']) {
	height: 2rem;
	padding-inline: calc(var(--kit-spacing) * 0.75);
}
.kit-navbar[breakpoint]kit-navbar--density-compact[class*='navbar--orientation-vertical'] {
	width: 3rem;
	padding: calc(var(--kit-spacing) * 0.75);
}

.kit-navbar[breakpoint]kit-navbar--density-comfortable:not(
		[class*='navbar--orientation-vertical']
	) {
	height: 3rem;
	padding-inline: calc(var(--kit-spacing) * 2.25);
}
.kit-navbar[breakpoint]kit-navbar--density-comfortable[class*='navbar--orientation-vertical'] {
	width: 4rem;
	padding: calc(var(--kit-spacing) * 2.25);
}

.kit-navbar[breakpoint]kit-navbar--variant-text,
.kit-navbar[breakpoint]kit-navbar--variant-outline,
.kit-navbar[breakpoint]kit-navbar--variant-dash {
	--navbar-color: var(--base, var(--kit-neutral));
	background-color: transparent;
}

.kit-navbar[breakpoint]kit-navbar--variant-outline {
	border-color: currentColor;
}

.kit-navbar[breakpoint]kit-navbar--variant-dash {
	border-style: dashed;
	border-color: currentColor;
}

.kit-navbar[breakpoint]kit-navbar--orientation-horizontal {
	flex-direction: row;
	width: 100%;
}

.kit-navbar[breakpoint]kit-navbar--orientation-vertical {
	flex-direction: column;
	min-height: fit-content;
	width: fit-content;
}

/* location */
.kit-navbar[breakpoint]kit-navbar--location-top {
	top: 0px;
	z-index: 1004;
	transform: translateY(0px);
	position: fixed;
	left: 0px;
	width: calc(100% + 0px);
}

.kit-navbar[breakpoint]kit-navbar--location-bottom {
	z-index: 1004;
	transform: translateY(0px);
	position: fixed;
	left: 0px;
	width: calc(100% + 0px);
	bottom: 0px;
}
