/* root */
.kit-textfield {
	--textfield-color: var(--on, var(--kit-on-container));
	--textfield-background: var(--base, var(--kit-container));
	--textfield-radius: var(--shape, var(--kit-radius-md));
}

.kit-textfield {
	flex: 1 1 auto;
	font-size: 1rem;
	display: grid;
	grid-template-areas:
		'prepend control append'
		'a messages b';
	grid-template-columns: max-content minmax(0, 1fr) max-content;
	grid-template-rows: 1fr auto;
}

/* variant */
.kit-textfield[breakpoint]kit-textfield--variant-filled .kit-field {
	--textfield-border-color: var(--textfield-background);
	background-color: var(--textfield-background);
	border-radius: var(--textfield-radius);
	color: var(--textfield-color);
}

.kit-textfield[breakpoint]kit-textfield--variant-outline .kit-field {
	--textfield-border-color: var(--textfield-color);
	background-color: var(--textfield-background);
	border-radius: var(--textfield-radius);
	color: var(--textfield-color);
}

.kit-textfield[breakpoint]kit-textfield--variant-filled .kit-textfield-outline,
.kit-textfield[breakpoint]kit-textfield--variant-outline .kit-textfield-outline {
	border-bottom: 1px solid var(--textfield-border-color);
	border-top: 1px solid var(--textfield-border-color);
	border-right: 1px solid var(--textfield-border-color);
	border-left: 1px solid var(--textfield-border-color);
	border-radius: var(--textfield-radius);
}

.kit-textfield[breakpoint]kit-textfield--variant-text .kit-field {
	--textfield-border-color: var(--textfield-color);
	background-color: transparent;
	border-radius: 0;
	color: var(--textfield-color);
}

.kit-textfield[breakpoint]kit-textfield--variant-text .kit-textfield-outline {
	border-bottom: 1px solid var(--textfield-border-color);
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 0;
}

.kit-textfield--hide-spin-buttons input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}
.kit-textfield--hide-spin-buttons input[type='number']::-webkit-inner-spin-button,
.kit-textfield--hide-spin-buttons input[type='number']::-webkit-outer-spin-button {
	display: none;
	-webkit-appearance: none;
}

.kit-textfield--disabled {
	opacity: 0.5;
	pointer-events: none;
}

.kit-textfield--readonly {
	pointer-events: none;
}

.kit-textfield--error .kit-textfield-outline {
	border: 1px solid var(--kit-error);
}

.kit-textfield-outline {
	align-items: stretch;
	contain: layout;
	display: flex;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 100%;
}

.kit-textfield .kit-textfield-prepend {
	display: flex;
	grid-area: prepend;
	margin-inline-end: 16px;
	align-items: center;
	padding-top: 0;
}

.kit-textfield .kit-textfield-append {
	display: flex;
	grid-area: append;
	margin-inline-start: 16px;
	align-items: center;
	padding-top: 0;
}

/* control */
.kit-textfield-control {
	display: flex;
	grid-area: control;
}

.kit-textfield-control .kit-textfield-prepend-inner {
	grid-area: prepend-inner;
	display: flex;
	align-items: center;
	padding-top: 0;
}
.kit-textfield-control .kit-textfield-clearable {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding-top: 0;
	overflow: hidden;
	margin-inline: 4px;
	grid-area: clear;
	opacity: 0;
}

.kit-textfield-clearable.kit-textfield-clearable--visible {
	opacity: 1;
}

.kit-textfield-control .kit-textfield-append-inner {
	grid-area: append-inner;
	display: flex;
	align-items: center;
	padding-top: 0;
}

/* field prefix suffix */
.kit-field .kit-field--field .kit-field--field-prefix,
.kit-field .kit-field--field .kit-field--field-suffix {
	align-items: center;
	cursor: default;
	display: flex;
	transition: inherit;
	white-space: nowrap;
}

/* field */
.kit-textfield-control .kit-field {
	display: grid;
	grid-template-areas: 'prepend-inner field clear append-inner';
	grid-template-columns: max-content minmax(0, 1fr) max-content max-content;
	font-size: calc(var(--kit-spacing) * var(--textfield-multiplier-font-size));
	max-width: 100%;
	contain: layout;
	flex: 1 0;
	grid-area: control;
	position: relative;
	padding: calc(var(--kit-spacing) * var(--textfield-multiplier-x))
		calc(var(--kit-spacing) * var(--textfield-multiplier-y));
	gap: calc(var(--kit-spacing) * var(--textfield-multiplier-gap));
}

.kit-textfield-control .kit-field .kit-field--field {
	flex: 1 0;
	grid-area: field;
	position: relative;
	align-items: flex-start;
	display: flex;
}

.kit-field .kit-field--field input {
	font: inherit;
	border-radius: 0;
	color: inherit;
	flex: 1;
	min-width: 0;
	align-items: center;
	color: inherit;
	column-gap: 2px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	row-gap: 8px;
}

.kit-field .kit-field--field input:focus,
.kit-field .kit-field--field input:focus-visible,
.kit-field .kit-field--field input:active {
	outline: none;
	box-shadow: none;
}

/* message */
.kit-textfield-message {
	padding-inline: var(--textfield-spacing-y);
	align-items: flex-end;
	display: flex;
	font-size: 0.75rem;
	grid-area: messages;
	min-height: 22px;
	padding-top: var(--textfield-spacing-x);
	overflow: hidden;
	justify-content: space-between;
	opacity: 0;
}

.kit-textfield-message.kit-textfield-message--visible {
	opacity: 1;
}

.kit-message {
	flex: 1 1 auto;
	font-size: 12px;
	min-height: 14px;
	min-width: 1px;
	position: relative;
	display: grid;
	gap: calc(var(--kit-spacing) * var(--textfield-multiplier-gap));
	grid-template-areas: 'message-prepend message message-append ';
	grid-template-columns: max-content minmax(0, 1fr) max-content;
}

.kit-message.kit-message--message-error {
	color: var(--kit-error);
}

.kit-message .kit-message--message {
	line-height: 12px;
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	grid-area: message;
}

.kit-message .kit-message--prepend,
.kit-message .kit-message--append {
	line-height: 12px;
}

.kit-message .kit-message--prepend {
	grid-area: message-prepend;
}
.kit-message .kit-message--append {
	grid-area: message-append;
}

/* size */
.kit-textfield[breakpoint]kit-textfield--size-xs {
	--textfield-multiplier-x: 2;
	--textfield-multiplier-y: 2;
	--textfield-multiplier-gap: 1;
	--textfield-multiplier-font-size: 6;
}

.kit-textfield[breakpoint]kit-textfield--size-sm {
	--textfield-multiplier-x: 3;
	--textfield-multiplier-y: 4;
	--textfield-multiplier-gap: 2;
	--textfield-multiplier-font-size: 7;
}

.kit-textfield[breakpoint]kit-textfield--size-md {
	--textfield-multiplier-x: 4;
	--textfield-multiplier-y: 6;
	--textfield-multiplier-gap: 2;
	--textfield-multiplier-font-size: 8;
}

.kit-textfield[breakpoint]kit-textfield--size-lg {
	--textfield-multiplier-x: 5;
	--textfield-multiplier-y: 6;
	--textfield-multiplier-gap: 2;
	--textfield-multiplier-font-size: 9;
}

.kit-textfield[breakpoint]kit-textfield--size-xl {
	--textfield-multiplier-x: 6;
	--textfield-multiplier-y: 8;
	--textfield-multiplier-gap: 3;
	--textfield-multiplier-font-size: 10;
}

/*density */
.kit-textfield[breakpoint]kit-textfield--density-default {
	--textfield-spacing-x: 0;
	--textfield-spacing-y: calc(var(--kit-spacing) * var(--textfield-multiplier-y));
}

.kit-textfield[breakpoint]kit-textfield--density-compact {
	--textfield-spacing-x: calc(0 - 0.5rem);
	--textfield-spacing-y: calc(var(--kit-spacing) * var(--textfield-multiplier-y) - 0.5rem);
}

.kit-textfield[breakpoint]kit-textfield--density-comfortable {
	--textfield-spacing-x: calc(0 + 0.5rem);
	--textfield-spacing-y: calc(var(--kit-spacing) * var(--textfield-multiplier-y) + 0.5rem);
}
