/* root */
.kit-chip {
	--chip-color: var(--on, var(--kit-on-container));
	--chip-background: var(--base, var(--kit-container));
	--chip-radius: var(--shape, var(--kit-radius-full));
}

.kit-chip {
	min-width: calc(var(--kit-spacing) * var(--chip-multiplier-x));
	position: relative;
	border: none;
	outline: none;
	padding-top: var(--chip-spacing-x);
	padding-bottom: var(--chip-spacing-x);
	padding-right: var(--chip-spacing-y);
	padding-left: var(--chip-spacing-y);
	border-radius: var(--chip-radius);
	color: var(--chip-color);
	font-weight: 500;
	text-decoration: none;
}

.kit-chip:not(div):not(span) {
	cursor: pointer;
}

.kit-chip,
.kit-chip .kit-chip-content,
.kit-chip .kit-chip-append,
.kit-chip .kit-chip-prepend,
.kit-chip .kit-chip--close,
.kit-chip .kit-chip-loading {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	gap: calc(var(--kit-spacing) * var(--chip-multiplier-gap));
	font-size: calc(var(--kit-spacing) * var(--chip-multiplier-font-size));
	line-height: 0;
}

.kit-chip:not(div):not(span)::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 150ms ease;
	pointer-events: none;
	border-radius: inherit;
}
.kit-chip:not(div):not(span):hover::after {
	opacity: 0.08;
}
.kit-chip:not(div):not(span):active::after {
	opacity: 0.12;
}
.kit-chip:not(div):not(span):focus-visible::after {
	opacity: 0.12;
}

/* size */
.kit-chip[breakpoint]kit-chip--size-xs {
	--chip-multiplier-x: 12;
	--chip-multiplier-y: 2;
	--chip-multiplier-gap: 2;
	--chip-multiplier-font-size: 6;
}
.kit-chip[breakpoint]kit-chip--size-xs .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 7;
}

.kit-chip[breakpoint]kit-chip--size-sm {
	--chip-multiplier-x: 14;
	--chip-multiplier-y: 2;
	--chip-multiplier-gap: 2;
	--chip-multiplier-font-size: 6.5;
}
.kit-chip[breakpoint]kit-chip--size-sm .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 8;
}

.kit-chip[breakpoint]kit-chip--size-md {
	--chip-multiplier-x: 16;
	--chip-multiplier-y: 3;
	--chip-multiplier-gap: 4;
	--chip-multiplier-font-size: 7;
}
.kit-chip[breakpoint]kit-chip--size-md .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 9;
}

.kit-chip[breakpoint]kit-chip--size-lg {
	--chip-multiplier-x: 18;
	--chip-multiplier-y: 3;
	--chip-multiplier-gap: 4;
	--chip-multiplier-font-size: 8;
}
.kit-chip[breakpoint]kit-chip--size-lg .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 10;
}

.kit-chip[breakpoint]kit-chip--size-xl {
	--chip-multiplier-x: 20;
	--chip-multiplier-y: 4;
	--chip-multiplier-gap: 4;
	--chip-multiplier-font-size: 9;
}
.kit-chip[breakpoint]kit-chip--size-xl .kit-icon[class*='kit-icon--size-md'] {
	--icon-multiplier-parent-size: 11;
}

/* variant */
.kit-chip[breakpoint]kit-chip--variant-filled {
	background-color: var(--chip-background);
}

.kit-chip[breakpoint]kit-chip--variant-outline {
	--chip-color: var(--on, var(--kit-on-container));
	background-color: var(--chip-background);
}
.kit-chip[breakpoint]kit-chip--variant-outline::before {
	content: '';
	position: absolute;
	inset: 0;
	border: 1px solid currentColor;
	pointer-events: none;
	border-radius: inherit;
}

/* density */
.kit-chip[breakpoint]kit-chip--density-default {
	height: calc(var(--kit-spacing) * var(--chip-multiplier-x));
	--chip-spacing-x: 0;
	--chip-spacing-y: calc(var(--kit-spacing) * var(--chip-multiplier-y));
}

.kit-chip[breakpoint]kit-chip--density-compact {
	height: calc(var(--kit-spacing) * var(--chip-multiplier-x) - 0.25rem);
	--chip-spacing-x: 0;
	--chip-spacing-y: calc(var(--kit-spacing) * var(--chip-multiplier-y) - 0.25rem);
}

.kit-chip[breakpoint]kit-chip--density-comfortable {
	height: calc(var(--kit-spacing) * var(--chip-multiplier-x) + 0.25rem);
	--chip-spacing-x: 0;
	--chip-spacing-y: calc(var(--kit-spacing) * var(--chip-multiplier-y) + 0.25rem);
}

/* state */
.kit-chip.kit-chip--info[class*='chip--variant-filled'] {
	--on: var(--kit-on-info);
	--base: var(--kit-info);
}
.kit-chip.kit-chip--info[class*='chip--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-info);
}

.kit-chip.kit-chip--success[class*='chip--variant-filled'] {
	--on: var(--kit-on-success);
	--base: var(--kit-success);
}
.kit-chip.kit-chip--success[class*='chip--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-success);
}

.kit-chip.kit-chip--warning[class*='chip--variant-filled'] {
	--on: var(--kit-on-warning);
	--base: var(--kit-warning);
}
.kit-chip.kit-chip--warning[class*='chip--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-warning);
}

.kit-chip.kit-chip--error[class*='chip--variant-filled'] {
	--on: var(--kit-on-error);
	--base: var(--kit-error);
}
.kit-chip.kit-chip--error[class*='chip--variant-']:not([class*='variant-filled']) {
	--base: var(--kit-error);
}

/* events */
.kit-chip[class*='chip--variant-filled']:active,
.kit-chip.kit-chip--active[class*='chip--variant-filled'] {
	background-color: color-mix(in oklab, var(--chip-background) 90%, var(--kit-scrim));
}
.kit-chip.kit-chip--active[class*='chip--variant-']:not([class*='variant-filled']):active,
.kit-chip.kit-chip--active[class*='chip--variant-']:not([class*='variant-filled']) {
	background-color: color-mix(in oklab, currentColor 15%, transparent);
}

/* disabled */
.kit-chip.kit-chip--disabled,
.kit-chip[disabled],
.kit-chip.kit-chip--loading {
	pointer-events: none;
	user-select: none;
	cursor: default;
}
.kit-chip[class*='chip--variant-filled'].kit-chip--disabled {
	color: color-mix(in oklab, var(--chip-color) 40%, transparent) !important;
	background-color: color-mix(in oklab, var(--chip-background) 70%, transparent) !important;
}
.kit-chip[class*='chip--variant-filled'].kit-chip--disabled i:before {
	color: color-mix(in oklab, var(--chip-color) 40%, transparent) !important;
}
.kit-chip[class*='chip--variant-']:not([class*='variant-filled']).kit-chip--disabled,
.kit-chip[class*='chip--variant-']:not([class*='variant-filled']).kit-chip--disabled i::before {
	color: color-mix(in oklab, var(--chip-background) 40%, transparent) !important;
}

/* icon */
.kit-chip i::before,
.kit-chip .kit-icon {
	--base-parent: var(--chip-color);
}

/* loading */
.kit-chip.kit-chip--loading > .kit-chip-content,
.kit-chip.kit-chip--loading > .kit-chip-append,
.kit-chip.kit-chip--loading > .kit-chip-prepend {
	visibility: hidden;
}
.kit-chip.kit-chip--loading > .kit-chip-loading {
	position: absolute;
	min-width: fit-content;
}
.kit-chip.kit-chip--loading > .kit-chip-loading .kit-icon-load {
	animation: icon-rotate 1s ease-out infinite;
}
