html {
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
	line-height: 1.5;
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
}

button {
	overflow: visible;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
	cursor: pointer;
	color: inherit;
}

button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
}

*:not(body) {
	outline: none;
}

*,
::after,
::before,
::backdrop {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}

img {
	border-style: none;
}

*,
::before,
::after {
	background-repeat: no-repeat;
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

[type='search'] {
	-webkit-appearance: textfield;
	appearance: textfield;
	outline-offset: -2px;
}
